$font-family-parrafo: 'Open Sans', sans-serif;
$font-family-titulos: 'Montserrat', sans-serif;

.ourClients{
    display: flex;
    justify-content: center;
    background-color: #ECF5FF;
    width: 100%;
    .ourClientsView{
        padding: 60px 0;
        width: 80%;
    }
};

.fotos-Rectangulares{
    width: 25%;
    height: 160px;
    background-position: center;
    padding: 64px;
    background-repeat: no-repeat;
    background-size: 55%;
    background-color: #FFFFFF;
    border-right: 1px solid #D6EAFF;
    border-bottom: 1px solid #D6EAFF;
    transition: all ease;
    transition-duration: 0.2s;  
};

.foto-Rectangular-All{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 30px 0;
    #foto-Rectangular-1{
        background-image: url("img/clients/client-1.png");
    };
    #foto-Rectangular-2{
        background-image: url("img/clients/client-2.png");
    };
    #foto-Rectangular-3{
        background-image: url("img/clients/client-3.png");    
    };
    #foto-Rectangular-4{
        background-image: url("img/clients/client-4.png");    
    };
    #foto-Rectangular-5{
        background-image: url("img/clients/client-5.png");    
    };
    #foto-Rectangular-6{
        background-image: url("img/clients/client-6.png");    
    };
    #foto-Rectangular-7{
        background-image: url("img/clients/client-7.png");    
    };
    #foto-Rectangular-8{
        background-image: url("img/clients/client-8.png");    
    };
};

//hover
#foto-Rectangular-1:hover,
#foto-Rectangular-2:hover,
#foto-Rectangular-3:hover,
#foto-Rectangular-4:hover,
#foto-Rectangular-5:hover,
#foto-Rectangular-6:hover,
#foto-Rectangular-7:hover,
#foto-Rectangular-8:hover,{
    background-size: 65%; 
}


@media (max-width: 768px) {
    .fotos-Rectangulares{
        width: 33%;
    }    
}

@media (max-width: 360px) {
    .fotos-Rectangulares{
        width: 100%;
    }    
}