.viewport {
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 2; }

.container-nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin: 0 auto; }

.logo-ada {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 40px; }

img {
  width: 100%;
  height: auto; }

.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none; }

ul li a {
  color: #004289;
  text-decoration: none;
  font-family: "Montserrat", sans-serif; }

.menu a {
  font-weight: 500;
  margin-left: 30px;
  font-size: 14px; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(634px - 80px);
  background-color: #1445B3;
  padding: 20px 0px 20px 0;
  margin: 0 auto; }

.contenedor-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%; }

.texto-header {
  width: 50%;
  height: 171px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  margin: 0 0 40px 0; }
  .texto-header h3 {
    width: 555px; }
    .texto-header h3 span {
      color: #74b5fc;
      text-decoration: underline; }

span {
  color: #74b5fc;
  text-decoration: underline; }

.img-header {
  width: 50%;
  height: 314px; }

img {
  width: 100%;
  height: auto; }

.boton-get {
  width: 172px;
  height: 45px;
  border: 2px solid #fff;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.089);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background-color: #007bff;
  border: 2px solid #007bff;
  transition: all ease 0.5s; }

.boton-our {
  width: 172px;
  height: 45px;
  border: 2px solid #fff;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.089);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  transition: all ease 0.5s; }

.titulos {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  color: #283D50; }

.subtitles-Team {
  width: 584px;
  margin: 30px auto;
  text-align: center;
  color: #444444;
  font-family: "Open Sans", sans-serif;
  font-size: 15px; }

.boton-get:hover {
  width: 172px;
  height: 45px;
  border: 2px solid #fff;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.089);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px; }

.boton-our:hover {
  background-color: #007bff;
  border: 2px solid #007bff; }

@media (max-width: 768px) {
  .contenedor-header {
    flex-direction: column-reverse;
    justify-content: center; }
  .texto-header {
    text-align: center; } }

.aboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 1617px; }

.contenedor-aboutUs {
  max-width: 80%; }

.aboutUs-contenedor1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1140px;
  height: 160px; }

.aboutUs-titulo {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  height: 43px;
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  padding: 0 0 60px 0; }

.aboutUs-descripcion {
  width: 555px;
  height: 104px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #556877;
  font-size: 15px; }

.aboutUs-cajas {
  height: 448px;
  max-width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%; }

.aboutUs-cajas-caja1 {
  height: 408px;
  padding: 0 15px 0 15px;
  flex: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #444444; }

.aboutUs-seccion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 104px;
  padding: 45px 0 30px 0; }

.seccion-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  width: 93px;
  height: 64px;
  text-align: center;
  background-color: #fff;
  font-size: 24px;
  text-decoration: none;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 50%;
  margin-right: 20px;
  transition: all ease 0.5s; }

.seccion-texto {
  height: 80px; }

.seccion-texto-titulos {
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 21.6px; }

.seccion-texto-descripcion {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px; }

.aboutUs-cajas-caja2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 408px;
  flex: 1; }

.cajas-caja2-imagen {
  width: 100%;
  height: auto; }

.aboutUs-contenedor2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1110px;
  height: 167px;
  margin-bottom: 18%; }

.aboutUs-contenedor2-caja1 {
  height: 294px;
  flex: 1; }

.contenedor2-caja1-imagen {
  width: 100%;
  height: auto; }

.aboutUs-contenedor2-caja2 {
  height: 328px;
  flex: 1; }

.titulo {
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 21.8px;
  color: #283d50;
  margin: 20px 0 20px 20px; }

.descripcion {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  margin: 20px 0 0 20px; }

.aboutUs-contenedor3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1110px;
  height: 167px;
  margin-bottom: 15%; }

.aboutUs-contenedor3-caja1 {
  height: 328px;
  flex: 1; }

.titulo {
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 21.8px;
  color: #283d50;
  margin: 20px 0 20px 20px; }

.descripcion {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  margin: 20px 0 0 20px; }

.aboutUs-contenedor3-caja2 {
  height: 328px;
  flex: 1; }

.contenedor3-caja2-imagen {
  width: 100%;
  height: auto; }

.seccion-logo:hover {
  background-color: #007bff;
  color: #fff; }

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 891px;
  background-color: #ecf5ff; }

.services-contenedor1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1140px;
  height: 160px; }

.services-titulo {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  height: 43px;
  font-family: "Montserrat", sans-serif;
  color: #283d50;
  padding: 0 0 60px 0; }

.services-descripcion {
  width: 555px;
  height: 104px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #556877;
  font-size: 15px; }

.services-cards-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80%; }

.card {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 425px;
  height: 168px;
  margin: 0 40px 40px 10px;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.5s; }

.card-logo {
  position: absolute;
  left: -18px; }

.iconify {
  font-size: 64px;
  line-height: 1; }

.card-texto {
  height: 80px; }

.card-texto-titulos {
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 21.6px;
  margin-left: 40px; }

.card-texto-descripcion {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  margin-left: 40px; }

.card:hover {
  transform: translateY(-10px); }
  .card:hover .card-texto-titulos {
    color: #007bff; }

.whyChooseUs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 759px;
  background-color: #004a99; }

.whyChooseUs-contenedor1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 80%;
  height: 160px; }

.whyChooseUs-titulo {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  height: 43px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  padding: 30px 0 30px 0; }

.whyChooseUs-descripcion {
  width: 555px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 15px;
  padding: 30px 0 60px 0; }

.whyChooseUs-contenedor-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  height: 380px; }

.whyChooseUs-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 320px;
  height: 295px;
  margin: 30px 30px 30px 30px;
  border-radius: 10px;
  background-color: #00458f;
  transition: all 0.5s; }

.whyChooseUs-card-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 20px;
  color: #bfddfe; }

.whyChooseUs-card-texto {
  text-align: center; }

.whyChooseUs-card-texto-titulos {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 21.6px;
  color: #fff; }

.whyChooseUs-card-texto-descripcion {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  color: #d8eafe;
  padding: 0 20px 0 20px; }

.whyChooseUs-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600; }

.whyChooseUs-card:hover {
  background-color: #003b7a; }

.whyChooseUs-contador {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center; }

.contenedor-cajas {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center; }

.whyChooseUs-caja {
  width: 25%;
  color: #ffffff; }
  .whyChooseUs-caja h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 48px; }
  .whyChooseUs-caja p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px; }

.portfolio-1 {
  height: 1115px;
  background-color: #FFFFFF;
  padding: 60px 0 60px 0; }
  .portfolio-1 .titulos {
    margin-top: 20px; }
  .portfolio-1 .button-Small {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px; }
    .portfolio-1 .button-Small .button-Small-Details {
      font-family: "Open Sans", sans-serif;
      line-height: 20px;
      font-size: 12px;
      margin: 15px 15px 15px 0;
      text-align: center;
      color: #007BFF;
      background: #ecf5ff;
      width: 60px;
      height: 32px;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      border: none; }
      .portfolio-1 .button-Small .button-Small-Details :nth-last-of-type(1) {
        margin: 15px 0 15px 0; }

.portfolio-Info-Imagen {
  width: 30%;
  height: 250px;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  margin: 15px 15px 15px 15px; }

.portfolio-Info {
  width: 80%;
  height: 800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 10% 0 10%; }
  .portfolio-Info #portfolio-Info-1 {
    background-image: url("img/portfolio/app1.jpg"); }
  .portfolio-Info #portfolio-Info-2 {
    background-image: url("img/portfolio/web3.jpg"); }
  .portfolio-Info #portfolio-Info-3 {
    background-image: url("img/portfolio/app2.jpg"); }
  .portfolio-Info #portfolio-Info-4 {
    background-image: url("img/portfolio/card2.jpg"); }
  .portfolio-Info #portfolio-Info-5 {
    background-image: url("img/portfolio/web2.jpg"); }
  .portfolio-Info #portfolio-Info-6 {
    background-image: url("img/portfolio/app3.jpg"); }
  .portfolio-Info #portfolio-Info-7 {
    background-image: url("img/portfolio/card1.jpg"); }
  .portfolio-Info #portfolio-Info-8 {
    background-image: url("img/portfolio/card3.jpg"); }
  .portfolio-Info #portfolio-Info-9 {
    background-image: url("img/portfolio/web1.jpg"); }

.testimonials {
  height: 389px;
  background-color: #ECF5FF;
  padding: 60px 0 60px 0; }

.testimonials-Columns {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-top: 50px; }
  .testimonials-Columns .foto-Redonda {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    margin-right: 25px; }
    .testimonials-Columns .foto-Redonda .img-Redonda {
      width: 120px;
      height: 120px;
      border-radius: 60px;
      background-image: url("img/testimonial-1.jpg");
      background-size: cover;
      background-position: center;
      border: 4px solid #fff; }
  .testimonials-Columns .testimonials-Texts {
    width: 65%; }
    .testimonials-Columns .testimonials-Texts .testimonial-Title {
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      font-weight: 700px;
      color: #111111; }
    .testimonials-Columns .testimonials-Texts .testimonial-Subtitle {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #999999;
      margin-top: 5px; }
    .testimonials-Columns .testimonials-Texts .testimonial-Paragraph {
      width: 584px;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-style: italic;
      color: #444444;
      line-height: 24px;
      margin-top: 15px;
      font-weight: 400; }

.changeTestimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 50px 0; }
  .changeTestimonials .butonChange {
    width: 12px;
    height: 12px;
    background-color: #007BFF;
    border: none;
    border-radius: 6px;
    margin: 0 7px 0 7px; }

.fotoRedonda {
  width: 255px;
  height: 255px;
  border-radius: 127.5px;
  background-size: cover;
  background-position: center;
  margin: 20px 15px; }

.team {
  background-color: #FFFFFF;
  margin: 50px 0; }
  .team .titulos {
    margin-top: 30px; }
  .team .fotos-Circulares {
    display: flex;
    justify-content: center;
    align-items: center; }
    .team .fotos-Circulares #foto-Redonda-1 {
      background-image: url("img/team-01.jpg"); }
    .team .fotos-Circulares #foto-Redonda-2 {
      background-image: url("img/team-02.jpg"); }
    .team .fotos-Circulares #foto-Redonda-3 {
      background-image: url("img/team-03.jpg"); }
    .team .fotos-Circulares #foto-Redonda-4 {
      background-image: url("img/team-04.jpg"); }

.fotoRedondaInfo {
  opacity: 0;
  width: 255px;
  height: 255px;
  border-radius: 127.5px;
  background-color: #004A9990;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s; }
  .fotoRedondaInfo h4 {
    font-weight: 700;
    font-size: 18px; }
  .fotoRedondaInfo h5 {
    font-style: italic;
    font-size: 13px;
    font-weight: 400; }
  .fotoRedondaInfo .iconosTeamContact {
    margin-top: 18px;
    color: #FFFFFF;
    font-size: 18px; }

.fotoRedondaInfo:hover {
  opacity: 1; }

.ourClients {
  display: flex;
  justify-content: center;
  background-color: #ECF5FF;
  width: 100%; }
  .ourClients .ourClientsView {
    padding: 60px 0;
    width: 80%; }

.fotos-Rectangulares {
  width: 25%;
  height: 160px;
  background-position: center;
  padding: 64px;
  background-repeat: no-repeat;
  background-size: 55%;
  background-color: #FFFFFF;
  border-right: 1px solid #D6EAFF;
  border-bottom: 1px solid #D6EAFF;
  transition: all ease;
  transition-duration: 0.2s; }

.foto-Rectangular-All {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 30px 0; }
  .foto-Rectangular-All #foto-Rectangular-1 {
    background-image: url("img/clients/client-1.png"); }
  .foto-Rectangular-All #foto-Rectangular-2 {
    background-image: url("img/clients/client-2.png"); }
  .foto-Rectangular-All #foto-Rectangular-3 {
    background-image: url("img/clients/client-3.png"); }
  .foto-Rectangular-All #foto-Rectangular-4 {
    background-image: url("img/clients/client-4.png"); }
  .foto-Rectangular-All #foto-Rectangular-5 {
    background-image: url("img/clients/client-5.png"); }
  .foto-Rectangular-All #foto-Rectangular-6 {
    background-image: url("img/clients/client-6.png"); }
  .foto-Rectangular-All #foto-Rectangular-7 {
    background-image: url("img/clients/client-7.png"); }
  .foto-Rectangular-All #foto-Rectangular-8 {
    background-image: url("img/clients/client-8.png"); }

#foto-Rectangular-1:hover,
#foto-Rectangular-2:hover,
#foto-Rectangular-3:hover,
#foto-Rectangular-4:hover,
#foto-Rectangular-5:hover,
#foto-Rectangular-6:hover,
#foto-Rectangular-7:hover,
#foto-Rectangular-8:hover {
  background-size: 65%; }

@media (max-width: 768px) {
  .fotos-Rectangulares {
    width: 33%; } }

@media (max-width: 360px) {
  .fotos-Rectangulares {
    width: 100%; } }

.footer-1 {
  background-color: #00428a;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .footer-1 p {
    color: #ffffff;
    width: 50%;
    font-family: "Open Sans", sans-serif;
    text-align: center; }

.linea-1 {
  font-size: 14px; }

.linea-2 {
  font-size: 13px; }

.contactUs {
  margin-top: 50px;
  height: 592px;
  background-color: #ffffff; }
  .contactUs .contenedorContactUs {
    display: flex;
    margin: 30px auto;
    width: 100%; }
    .contactUs .contenedorContactUs .mapa {
      width: 50%;
      height: 379px;
      padding: 0 15px; }
      .contactUs .contenedorContactUs .mapa .mapa-1 {
        width: 100%;
        height: 312px; }

.formularioContactUs {
  width: 50%;
  padding: 0 15px; }
  .formularioContactUs .direcciones {
    display: flex;
    margin-bottom: 75px;
    color: #283D50;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    word-spacing: 0; }
    .formularioContactUs .direcciones ul {
      display: flex;
      justify-content: space-between;
      width: 100%; }
    .formularioContactUs .direcciones ul li {
      list-style: none; }
    .formularioContactUs .direcciones ul li i {
      color: #1b6abe;
      font-size: 20px;
      margin-right: 15px; }

.form-style {
  padding: 6px 12px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #495057;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #ced4da; }

.firstData {
  display: flex; }
  .firstData :first-child {
    margin-right: 10px; }

.fs50 {
  width: 50%;
  height: 38px; }

.fs100 {
  width: 100%;
  height: 38px; }

.fs100Alto {
  width: 100%;
  height: 119px; }

.botonSendMessage {
  display: flex;
  justify-content: center;
  align-items: center; }
  .botonSendMessage .botonS {
    width: 172px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: #007BFF;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px; }

.footer {
  background-color: #004A99;
  width: 100%; }

.footer-content {
  background-color: #004A99;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  padding: 60px 0 30px 0;
  flex-wrap: wrap; }

.wayne {
  width: 33.33%;
  padding: 0 15px 30px 15px; }
  .wayne h3 {
    font-size: 34px;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    padding-bottom: 20px; }
  .wayne p {
    font-size: 13px;
    line-height: 24px;
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    width: 100%; }

.usefullLinks {
  width: 16.66%;
  padding-right: 60px;
  padding-left: 15px; }

.subtitleFooter {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 30px; }

.listadoPaginado {
  font-size: 14px;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  list-style: none; }
  .listadoPaginado li {
    margin-bottom: 15px; }

.listadoDirecciones {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  list-style: none;
  margin-bottom: 30px; }
  .listadoDirecciones li {
    margin-bottom: 5px; }

.listadoNews {
  font-size: 14px;
  line-height: 22px;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  width: 100%;
  margin-bottom: 30px; }

.relleno {
  color: #FFFFFF;
  width: 165px;
  height: 33px; }

.contact, .ourNewsletter {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
  width: 25%; }

.iconosContactUs {
  display: flex;
  list-style: none;
  color: #FFFFFF; }
  .iconosContactUs li {
    width: 36px;
    height: 36px;
    background-color: #007BFF;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center; }

.form-news {
  display: flex; }
  .form-news .boton-news {
    width: 94px;
    height: 33px;
    background-color: #007BFF;
    border: none;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 15px; }

@media (max-width: 768px) {
  .footer-content {
    width: 90%; }
  .wayne, .usefullLinks, .contact, .ourNewsletter {
    width: 50%; } }

@media (max-width: 360px) {
  .footer-content {
    width: 80%; }
  .wayne, .usefullLinks, .contact, .ourNewsletter {
    width: 100%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
