@import "_aboutUs";
@import "_services";
@import "_whyChooseUs";
@import "_ourPortfolio";
@import "_testimonials";
@import "_team";
@import "_ourClients";
@import "_contactUs";


$letra-nav:#004289;
$fondo-header:#1445B3;
$font-family-parrafo: 'Open Sans', sans-serif;
$font-family-titulos: 'Montserrat', sans-serif;

@mixin flex {
    display: flex; 
    justify-content: center;
    align-items: center;
}

@mixin boton {
    width: 172px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.089);
    color: #fff;
    font-family: $font-family-titulos;
    font-size: 15px; 
}

@mixin portfolio {
    width: 30%;
    height: 250px;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    margin: 15px 15px 15px 15px;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container-All{

}

.viewport{
    width:100%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 2;
}


.container-nav{
    width: 75%;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    height: 80px;
    margin: 0 auto;   
}
      
.logo-ada{
    width: 67px;
    height: 40px;
}    

img{
    width: 100%;
    height: auto;
}

.menu{
    width: 500px;
}

.menu ul{
    @include flex;
    list-style: none;   
}

ul li a{
    color: $letra-nav;  
    text-decoration: none; 
    font-family: $font-family-titulos;
}

.header{
    @include flex;
    width: 100%;
    height: calc(634px - 80px);
    background-color: $fondo-header;
    padding: 20px 0px 20px 0; 
    margin: 0 auto;
} 

.texto-header{
    width: 555px;
    height: 171px;
    color:#fff;
    font-family: $font-family-titulos;
    font-size: 48px; 
    font-weight: 700;
    line-height: 57.6px;  
    margin:0 0 40px 0; 
    h3{
        width: 555px;
        span{
            color: #74b5fc;
            text-decoration: underline;
        }
    }
}

.underline{
    color:#74b5fc;
    text-decoration: underline;
    text-align: left;
}

.img-header{
    width: 555px;
    height: 314px;
}

img{
    width: 100%;
    height: auto;
}

.boton{
    @include boton;
}

.titulos {
    font-family: $font-family-titulos;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    color: #283D50;
};

.subtitles-Team{
    width: 584px;
    margin: 30px auto;
    text-align: center;
    color: #444444;
    font-family: $font-family-parrafo;
    font-size: 15px;
};







